<a href="https://colab.research.google.com/github/Ju-H-end/erebb-site/blob/main/Aula_7_%E2%80%93_Operadores_Aritm%C3%A9ticos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Operadores Aritméticos**

Ordem de Precendência:
1.
()

2.
** (Potência)

3.* (Multiplicação);

/ (Divisão);

// (Divisão inteira);

% (Resto da divisão)

4.
+ (Soma);
- (Subtração)

In [ ]:
5 + 3 * 2

11

In [ ]:
3 * 5 + 4 ** 2

31

In [ ]:
3 * (5 + 4) ** 2

243

In [ ]:
n1=int(input("Digite um número: "))
n2=int(input("Digite outro número: "))
s= n1 + n2
print("A Soma entre {} e {} é igual a {}".format(n1,n2,s))

Digite um número: 5
Digite outro número: 2
A Soma entre 5 e 2 é igual a 7

In [ ]:
n1=int(input("Digite um número: "))
n2=int(input("Digite outro número: "))
s= n1 - n2
print("A Subtração entre {} e {} é igual a {}".format(n1,n2,s))

Digite um número: 5
Digite outro número: 2
A Subtração entre 5 e 2 é igual a 3

In [ ]:
n1=int(input("Digite um número: "))
n2=int(input("Digite outro número: "))
s= n1 * n2
print("A Multiplicação entre {} e {} é igual a {}".format(n1,n2,s))

Digite um número: 5
Digite outro número: 2
A Multiplicação entre 5 e 2 é igual a 10

In [ ]:
n1=int(input("Digite um número: "))
n2=int(input("Digite outro número: "))
s= n1 / n2
print("A Divisão entre {} e {} é igual a {}".format(n1,n2,s))

Digite um número: 5
Digite outro número: 2
A Divisão entre 5 e 2 é igual a 2.5

In [ ]:
n1=int(input("Digite um número: "))
n2=int(input("Digite outro número: "))
s= n1 ** n2
print("A Potência entre {} e {} é igual a {}".format(n1,n2,s))

Digite um número: 5
Digite outro número: 2
A Potência entre 5 e 2 é igual a 25

In [ ]:
n1=int(input("Digite um número: "))
n2=int(input("Digite outro número: "))
s= n1 // n2
print("A Divisão inteira o entre {} e {} é igual a {}".format(n1,n2,s))

Digite um número: 5
Digite outro número: 2
A Divisão inteira o entre 5 e 2 é igual a 2

In [ ]:
n1=int(input("Digite um número: "))
n2=int(input("Digite outro número: "))
s= n1 % n2
print("A Resto da divisão entre {} e {} é igual a {}".format(n1,n2,s))

Digite um número: 5
Digite outro número: 2
A Resto da divisão entre 5 e 2 é igual a 1

Exercicio

In [ ]:
nome = str(input('Qual éseu nome?'))
print('Prazer em te conhecer {:=^20}!'.format(nome))

Qual éseu nome?Julia
Prazer em te conhecer =======Julia========!

In [ ]:
n1 = int(input('Um valor: '))
n2 = int(input('Outro valor: '))
print('A soma vale {}'.format(n1+n2))

Um valor: 5
Outro valor: 2
A soma vale 7

In [ ]:
n1 = int(input('Um valor: '))
n2 = int(input('Outro Valor: '))
s = n1 + n2
m = n1 * n2
d = n1 / n2
di = n1 // n2
e = n1 ** n2
print('A soma é {},\n o produto é {} e a \n divisão é {:.3f}'.format (s, m, d), end='')
print(' Divisão inteira {} e potência {}'.format(di, e))

Um valor: 12
Outro Valor: 4
A soma é 16,
 o produto é 48 e a
 divisão é 3.000 Divisão inteira 3 e potência 20736

This code snippet performs several arithmetic operations based on user input.

1.  **`n1 = int(input('Um valor: '))`** and **`n2 = int(input('Outro Valor: '))`**: These lines prompt the user to enter two numbers. The `input()` function reads the user's input as a string, and `int()` converts these strings to integers, storing them in variables `n1` and `n2`.

2.  **`s = n1 + n2`**: Calculates the sum of `n1` and `n2` and stores the result in the variable `s`.

3.  **`m = n1 * n2`**: Calculates the product of `n1` and `n2` and stores the result in the variable `m`.

4.  **`d = n1 / n2`**: Calculates the division of `n1` by `n2` and stores the result in the variable `d`. This will result in a floating-point number.

5.  **`di = n1 // n2`**: Calculates the integer division of `n1` by `n2`. This operation discards the remainder and returns only the integer part of the division, storing it in `di`.

6.  **`e = n1 ** n2`**: Calculates `n1` raised to the power of `n2` and stores the result in the variable `e`.

7.  **`print('A soma é {}, o produto é {} e a divisão é {:.3f}'.format (S, m, d))`**: This line attempts to print the sum, product, and division. However, there is a `NameError` here because it tries to use `S` (uppercase) which was not defined. It should be `s` (lowercase). The `{:.3f}` formats the division result to three decimal places.

8.  **`print('Divisão inteira {} e potência {}'.format(di, e))`**: This line prints the integer division and the power calculation.

In summary, the code takes two numbers from the user, performs addition, multiplication, standard division, integer division, and exponentiation, and then attempts to print the results. The `NameError` needs to be corrected for the code to run successfully.

**DESAFIOS**

005:
Faça um programa que leia um número inteiro e mostre na tela o seu sucessor e seu antecessor.

In [ ]:
"Manos"
numero  = int(input("Digite um numerro inteiro: "))
sucessor = numero + 1
antecessor = numero - 1
print(f"O sucessor de {numero} é {sucessor}")
print(f"O antecessor de {numero} é {antecessor}")

Digite um numerro inteiro: 8
O sucessor de 8 é 9
O antecessor de 8 é 7

In [ ]:
"Eu"
n = int(input("Digite um numero inteiro: "))
s = n + 1
a = n - 1
print(f"O sucessor de {n} é {s} ")
print(f"O antecessor de {n} é {a}")

Digite um numero inteiro: 3
O sucessor de 3 é 4
O antecessor de 3 é 2

In [ ]:
"Curso:"
n = int(input('Digite um numero: '))
a = n - 1
s = n + 1
print('Analisando o valor {}, \n seu antecessor é {} \n e o sucessor {}'.format(n, a, s))

Digite um numero: 5
Analisando o valor 5,
 seu antecessor é 4
 e o sucessor 6

In [ ]:
'Curso'
n = int(input('Digite um número: '))
print('Analisando o valor {}, seu antecessor é {} e o sucessor é {}'.format(n, (n-1), (n+1)))

Digite um número: 2
Analisando o valor 2, seu antecessor é 1 e o sucessor é 3

006: Crie um algoritmo que leia um número e mostre o  seu dobro, triplo e raiz quadrada.

In [ ]:
"Chat"
numero = float(input("Digite um numero: "))
dobro = numero * 2
triplo = numero * 3
raiz_quadrada = numero ** 0.5

print(f'O dobro de {numero} é {dobro}')
print(f'O triplo de {numero} é {triplo}')
print(f'A raiz quadrada de {numero} é {raiz_quadrada}')

import math
raiz_quadrada = math.sqrt(numero)

Digite um numero: 3
O dobro de 3.0 é 6.0
O triplo de 3.0 é 9.0
A raiz quadrada de 3.0 é 1.7320508075688772

In [14]:
"Curso:"
n = int(input('Digite um número: '))
d = n * 2
t = n * 3
r = n ** (1/2)
print('O dobro de {} vale {}.'.format(n, d))
print('O triplo de {} vale {}. \n A raiz quadrada de {} é igual a {:.2f}.'.format(n, t, n, r))

Digite um número: 18
O dobro de 18 vale 36.
O triplo de 18 vale 54.
 A raiz quadrada de 18 é igual a 4.24.

In [11]:
'Curso'
n = int(input('Digite um número: '))
print('O dobro de {} vale {}.'.format(n, (n*2)))
print('O triplo de {} vale {}. \n A raiz de {} é igual a {:.2f}.'.format(n, (n*3), n, (n**(1/2))))

Digite um número: 128
O dobro de 128 vale 256.
O triplo de 128 vale 384.
 A raiz de 128 é igual a 11.31.

In [17]:
n = int(input('Digite um número: '))
print('O dobro de {} vale {}.'.format(n, (n*2)))
print('O triplo de {} vale {}. \nA raiz quadrada de {} é igual a {:.2f}.'.format(n, (n*3), n, pow(n, (1/2))))

Digite um número: 81
O dobro de 81 vale 162.
O triplo de 81 vale 243.
A raiz quadrada de 81 é igual a 9.00.

007:Desenvolva um programa que leia as duas notas de um aluno, calcule e mostre a sua media.

In [26]:
"Manos"
nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite a segunda nota: "))

media = (nota1 + nota2) / 2

print(f"A média do aluno é: {media}")

Digite a primeira nota: 10
Digite a segunda nota: 5
A média do aluno é: 7.5

In [27]:
n1 = float(input('Primeira nota do aluno: '))
n2 = float(input('Segunda nota do aluno: '))
média = (n1 + n2) / 2
print('A média entre {:.1f} e {:.1f} é {}'.format(n1, n2, média))

Primeira nota do aluno: 10
Segunda nota do aluno: 5
A média entre 10.0 e 5.0 é 7.5

008:Escreva um programa que leia um valor em metros e o exiba covertido em centímetros e milímetros.

In [49]:
"Manus"

metros = float(input("Digite um valor em metros: "))

centimetros = metros * 100
milímetros = metros * 1000

print(f"{metros} metros equivalem ".format(metros))
print(f"{centimetros} centímetro ".format(centimetros *1000))
print(f"{milímetros} milímetros ".format(milímetros *10000))

Digite um valor em metros: 2.5
2.5 metros equivalem
250.0 centímetro
2500.0 milímetros

In [47]:
medida = float(input('Uma distância em metros: '))
cm = medida * 100
mm = medida * 1000
print('A medida de {}m corresponde a {:.0f}cm e {:.0f}mm'.format(medida, cm, mm))

Uma distância em metros: 2.5
A medida de 2.5m corresponde a 250cm e 2500mm

In [67]:
"EU"
medida = float(input('Uma distância em metros: '))
km = medida * 0.001
hm = medida * 0.01
dam = medida * 0.1
dm = medida *  10
cm = medida * 100
mm = medida * 1000
print('A medida de {}m corresponde a \n{}km \n{}hm \n{:.1f}dam \n{:.0f}dm \n{:.0f}cm \n{:.0f}mm'.format(medida, km, hm, dam, dm, cm, mm))

Uma distância em metros: 3
A medida de 3.0m corresponde a
0.003km
0.03hm
0.3dam
30dm
300cm
3000mm

009: Faça um program que leia um número Inteir qualquer e mostre na tela a sua tabuada.

010: Crie um programa que leia quanto dinheiro uma pessoa tem na carteira e mostre quantos Dólares ela pode comprar.

considere
US$1,00=R$3,27

011: Faça um Program que leia a largura e a altura de uma parede em metros, calcule a sua área e a quantidade de tinta necessária para pintá-la, sabendo que cada litro de tinta, pinta uma área de 2m².

012: Faça um algoritmo que leia o preço de um produto e mostre seu novo preço, com 5% de desconto.

013:Faça um algoritmo que leia o salário de um  funcionário e mostre seu novo salário, com 15% de aumento.